.loading-page {
  --bg: var(--clr-primary);

  position: relative;
  display: grid;
  place-content: center;
  height: 100dvh;
  color: var(--clr-light-700);
  background-color: var(--bg);
  isolation: isolate;
  overflow: hidden;

  .container {
    --blur: 120px;
    --spread: 150px;

    background-color: inherit;
    box-shadow: 0 0 var(--blur) var(--spread) var(--bg);

    .logo {
      width: 170px;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 1.3rem;
      text-align: center;
    }

    @media (min-width: 678px) {
      --blur: 150px;
      --spread: 200px;

      .logo {
        width: 200px;
      }

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("/doodles.png");
    background-position: center;
    filter: blur(0.09vw) brightness(0.9);
    z-index: -1;
  }
}
