section.chat-info {
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary);
  overflow: hidden;

  .scroll-section {
    height: calc(100% - 60px);
    padding-bottom: 2rem;
    overflow: hidden auto;
    isolation: isolate;
  }

  .info {
    padding: 2rem;
    text-align: center;

    .image-container {
      width: 130px;
      margin: 0 auto 1rem;

      .no-image {
        font-size: 4rem;
        color: var(--clr-gray);
        background-color: var(--clr-text);
      }
    }

    .name {
      font-size: 1.8rem;
    }

    .email {
      font-size: 0.9rem;
      margin-top: 0.6rem;
      opacity: 0.6;
    }
  }

  .description {
    padding: 1rem;
    background-color: var(--clr-gray);

    span {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
      text-indent: 3rem;
      margin-top: 0.7rem;
      opacity: 0.7;
    }
  }

  .chat-link {
    padding-inline: 1rem;

    .details:has(.self) {
      flex-direction: row;
      justify-content: start;
      align-items: center;

      .self {
        font-size: 0.9rem;
        margin-left: 5px;
        opacity: 0.7;
      }
    }

    &:has(.self):is(:hover, :focus) {
      cursor: auto;
      background-color: transparent;
    }
  }
}
