.list-panel,
.no-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--bg-secondary);
  overflow: hidden;
}

.list-panel {
  div:has(> input) {
    padding: 0.5rem 1rem;
  }

  .scroll-section {
    height: 100%;
    overflow: hidden auto;
    isolation: isolate;

    details.list {
      summary {
        padding-block: 0.6rem;
        margin-block: 0.4rem;
        background: var(--hover);

        svg {
          margin-left: auto;
        }
      }

      &[open] {
        summary {
          background: transparent;

          svg {
            rotate: 180deg;
          }
        }
      }
    }
  }

  .list {
    div.sub-heading {
      background: linear-gradient(
        var(--bg-secondary) 80%,
        rgba(255, 255, 255, 0)
      );
    }

    .sub-heading {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      z-index: 5458;

      h2 {
        font-size: 1.14rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      &.online-users {
        display: flex;
        align-items: center;
        gap: 0.8em;
        padding-bottom: 0.65rem;
        margin-inline: 1rem;
        overflow-x: auto;

        .link:focus .image-container {
          outline: 2px solid var(--clr-text);
          outline-offset: -2px;
        }

        .profile-img {
          width: fit-content;

          .image-container {
            width: 55px;
            font-size: 1.17rem;
          }

          .online-dot {
            width: 15px;
          }
        }
      }

      li.chat {
        transition: transform 130ms ease-in-out, opacity 130ms ease-in-out;
        transform: translateX(150px);
        opacity: 0;

        &.show {
          transform: translateX(0);
          opacity: 1;
        }
      }

      .chat-link {
        padding-inline: 1rem;
        scroll-margin-block: 60px;
      }
    }

    .not-found {
      text-align: center;
      margin-block: 1.5rem;
    }
  }

  .unread-count {
    font-size: 0.75rem;
    padding: 1px 10px;
    color: var(--clr-light-700);
    background-color: var(--clr-primary);
    border-radius: 50px;
  }
}

.no-chat {
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
  text-align: center;
  border-top: 1px solid var(--border);

  h1 {
    font-size: 1.5em;
    padding: 0;
  }

  p {
    font-size: 0.7em;
    width: 80%;
    margin-inline: auto;
  }

  button {
    font-size: 0.85em;
    margin-inline: auto;
    margin-top: 1rem;
  }

  @media (min-width: 475px) {
    border: none;
  }
}
