.new-group {
  position: relative;
  overflow-y: auto;

  .panel-header {
    position: sticky;
    top: 0;
    background-color: var(--bg-secondary);
    z-index: 1;
  }

  .group-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    max-height: calc(100dvh - 59.19px);

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 1.2rem;
      padding-inline: 1rem;

      .container {
        background-color: var(--clr-gray);
      }
    }

    .drop-down {
      margin-top: 1rem;

      ul {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding-bottom: 2px;
        margin-inline: 1rem;
        overflow-x: auto;

        li {
          position: relative;

          .deselect {
            position: absolute;
            right: -10px;
            bottom: 0;
            display: grid;
            place-content: center;
            font-size: 0.7rem;
            padding: 4px;
            color: var(--clr-light-700);
            background-color: rgb(206, 24, 24);
            border-radius: 100%;
            outline-offset: 0;
          }
        }

        .add-btn {
          display: grid;
          place-content: center;
          width: 45px;
          aspect-ratio: 1;
          padding: 0;
          color: var(--clr-primary);
          background-color: transparent;
          border: 2px dashed;
          border-radius: 100%;
          outline: none;

          &:focus-visible {
            color: var(--clr-text);
          }

          svg {
            font-size: 1.4rem;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: end;
      gap: 1rem;
      margin-top: auto;
      padding: 0.5rem 1rem 1rem;
      background-color: var(--bg-secondary);
    }
  }
}
