.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 999;

  .container {
    width: 85%;
    max-width: 500px;
    max-height: 80%;
    padding: 1.5rem;
    background-color: var(--bg);
    border: 1px solid var(--border);
    animation: popup 200ms forwards ease-in-out;
    border-radius: 10px;
    overflow-y: auto;

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.9rem;
      margin-top: 0.8rem;
      opacity: 0.55;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 2rem;
    }

    &.confirmation {
      .title {
        font-size: 1.8rem;
        text-transform: capitalize;
      }
    }

    &.device-auth {
      .device {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin-block: 1.5rem 0.5rem;
        background-color: var(--hover);
        border-radius: 5px;
        overflow: hidden;

        .device-icon {
          display: flex;

          svg {
            font-size: 2rem;
          }
        }

        .device-type {
          font-size: 1.2rem;
          text-transform: capitalize;
        }

        .last-used {
          font-size: 0.8rem;
          margin-top: 4px;
          opacity: 0.5;
        }
      }

      .warning {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 0.75rem;
        margin: 0;
        opacity: 0.4;

        svg {
          font-size: 1.1em;
          flex-shrink: 0;
        }
      }

      .buttons {
        margin-top: 2.5rem;
      }
    }

    &.edit {
      .title {
        font-size: 1.3rem;
      }

      .input {
        margin-block: 1.2rem 2rem;

        textarea {
          min-height: 7rem;
        }
      }

      .buttons {
        margin-top: 1rem;
      }
    }

    &.logout {
      text-align: center;

      p {
        margin-top: 1rem;
      }

      button {
        margin-top: 2rem;
      }
    }
  }

  @media (min-width: 678px) {
    .container {
      width: 55%;
    }
  }
}

@keyframes popup {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
