@use "../utilities/mixin";

section.profile {
  .detail__container {
    @include mixin.linkBorder;
    @include mixin.settingHover;

    .header {
      @include mixin.settingHeader;

      font-size: 0.9rem;
      padding-bottom: 0.5rem;
      color: var(--clr-primary);
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.1rem;
      gap: 1rem;
      padding: 0 1.2rem 1.2rem 3.73rem;

      .value {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      button {
        font-size: 1.4rem;
        height: 24px;
        padding: 0;
        color: var(--clr-primary);
        outline-offset: 2px;
      }
    }
  }
}
