@use "../utilities/mixin";

section.profile {
  .profile__image {
    position: relative;

    .image-container {
      width: 130px;
      margin: 1.5rem auto 2.8rem;

      .no-image {
        font-size: 4rem;
        color: var(--clr-gray);
        background-color: var(--clr-text);
      }
    }

    &:has(.loader) {
      .image-container {
        position: relative;

        &::after {
          position: absolute;
          inset: 0;
          content: "";
          background-color: rgba(238, 238, 238, 0.4);

          [dark] & {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .loader__bar {
        --loading-size: 1.8rem;
        --loading-width: 0.28em;
      }
    }

    input#profile-image {
      display: none;
    }

    .edit-btn {
      position: absolute;
      right: calc(50% - 1.8rem);
      bottom: -0.5rem;
      display: grid;
      place-content: center;
      font-size: 1.5rem;
      aspect-ratio: 1;
      padding: 0.5em;
      border: 0;
      color: var(--clr-light-600);
      background-color: var(--clr-primary);
      transform: translateX(100%);
      border-radius: 100%;

      &:disabled {
        opacity: 0.8;
      }
    }
  }

  .detail__container {
    @include mixin.linkBorder;
    @include mixin.settingHover;

    .header {
      @include mixin.settingHeader;

      font-size: 0.9rem;
      padding-bottom: 0.5rem;
      color: var(--clr-primary);
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.1rem;
      gap: 1rem;
      padding: 0 1.2rem 1.2rem 3.73rem;

      .value {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      button {
        font-size: 1.4rem;
        height: 24px;
        padding: 0;
        color: var(--clr-primary);
        outline-offset: 2px;
      }
    }
  }
}
