@use "../utilities/mixin" as mixin;

aside.side-bar {
  --icon-size: 35px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  height: 100%;
  background-color: var(--bg);

  .logo-icon {
    width: var(--icon-size);
    margin: 1rem;
  }

  .navigation,
  .actions {
    display: grid;

    a,
    button {
      @include mixin.nav-link;

      aspect-ratio: 1;
    }
  }

  .actions {
    padding-top: 1.5rem;
    margin-top: auto;

    button.active {
      background-color: var(--clr-gray);

      .icon {
        fill: var(--clr-text);
      }
    }
  }
}
