@forward "normalize";
@forward "variable";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--ff-inter);
  width: 100dvw;
  height: 100dvh;
  color: var(--clr-text);
  background-color: var(--bg);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--ff-roboto);
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.Toastify {
  @media only screen and (max-width: 480px) {
    .Toastify__toast-container {
      left: auto;
      right: calc(env(safe-area-inset-right) + 10px);
      width: 85vw;
      margin-top: 10px;
    }
  }
}

.loader .loader__bar {
  width: var(--loading-size, 1em);
  aspect-ratio: 1;
  border: var(--loading-width, 0.2em) solid;
  border-bottom-color: transparent;
  border-radius: 100px;
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}
