@forward "normalize";
@forward "variable";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: var(--ff-inter);
  width: 100dvw;
  height: 100dvh;
  color: var(--clr-text);
  background-color: var(--clr-gray);
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--ff-roboto);
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.Toastify {
  @media only screen and (max-width: 480px) {
    .Toastify__toast-container {
      left: auto;
      right: calc(env(safe-area-inset-right) + 10px);
      width: 85vw;
      margin-top: 10px;
    }
  }
}

.loader .loader__bar {
  width: var(--loading-size, 1em);
  aspect-ratio: 1;
  border: var(--loading-width, 0.2em) solid;
  border-bottom-color: transparent;
  border-radius: 100px;
  animation: rotate 1s ease-in-out infinite;
}

.network-alerts {
  .network-status,
  .connection-status {
    position: relative;
    max-height: 0;
    -webkit-user-select: none;
    user-select: none;
    transition: max-height 250ms ease-in-out;
    isolation: isolate;
    z-index: 1000;

    &.show {
      max-height: 24px;
    }

    .success,
    .loading,
    .error {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      padding-block: 2px;
      color: var(--clr-light-600);
    }

    .success {
      background-color: var(--clr-green);

      [color="green"] & {
        filter: brightness(0.9);
      }
    }

    .loading {
      color: var(--clr-gray);
      background-color: var(--clr-text);

      .loading-icon {
        animation: rotate 750ms ease-in-out infinite;
      }
    }

    .error {
      background-color: var(--clr-danger);
    }
  }
}
@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

@keyframes slideAnimation {
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
