@mixin nav-link {
  display: grid;
  place-content: center;
  width: 100%;
  padding: 0;
  border-radius: 0;
  outline: none;

  .icon {
    fill: var(--clr-text);
    width: calc(var(--icon-size) - 4px);
    aspect-ratio: 1;
  }

  &:is(:hover, :focus-visible) {
    background-color: var(--hover);
  }

  &.active {
    background-color: var(--clr-primary);
    opacity: 1 !important;

    &:focus-visible {
      outline: 1px dotted var(--clr-light-700);
      outline-offset: -4px;
    }

    .icon {
      fill: var(--clr-light-600);
    }
  }
}

@mixin linkBorder {
  border: 0;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 20%,
      var(--clr-gray),
      rgba(255, 255, 255, 0) 80%
    )
    30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  outline: none;
}

@mixin settingHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  text-align: start;
  text-transform: capitalize;
  text-decoration: none;
  width: 100%;
  padding: 1rem 1.2rem;
  color: inherit;
  background-color: transparent;

  .icon {
    font-size: 1.5rem;
    flex-shrink: 0;
  }
}

@mixin settingHover {
  &:is(:hover, :focus-visible) {
    background-color: var(--hover);
  }
}

@mixin countBadge {
  font-size: 0.75rem;
  padding: 1px 10px;
  color: var(--clr-light-700);
  background-color: var(--clr-primary);
  border-radius: 50px;
}
