:root {
  --ff-inter: "Inter", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  --clr-blue: #36c5f0;
  --clr-yellow: #ecb22e;
  --clr-pink: #ff296b;
  --clr-green: #0db971;
  --clr-light-600: #f9f6f6;
  --clr-light-700: #ffffff;
  --clr-dark-600: #1e1e1e;
  --clr-border-light: #1f1f1f40;
  --clr-border-dark: #cecece40;
  --clr-dark-700: #1a1a1a;
  --clr-light-gray: #dfdfdf;
  --clr-dark-gray: #2e2e2e;

  color-scheme: light;

  --clr-primary: var(--clr-pink);
  --clr-danger: #dc3545;
  --clr-text: var(--clr-dark-600);
  --clr-gray: var(--clr-light-gray);
  --hover: #ececec;
  --border: var(--clr-border-light);
  --bg: var(--clr-light-700);
  --bg-secondary: var(--clr-light-600);

  [color="pink"] {
    --clr-primary: var(--clr-pink);
  }

  [color="green"] {
    --clr-primary: var(--clr-green);
  }

  [color="yellow"] {
    --clr-primary: var(--clr-yellow);
  }

  [color="blue"] {
    --clr-primary: var(--clr-blue);
  }

  [dark] {
    color-scheme: dark;

    --clr-text: var(--clr-light-600);
    --clr-gray: var(--clr-dark-gray);
    --hover: #272727;
    --border: var(--clr-border-dark);
    --bg: var(--clr-dark-700);
    --bg-secondary: var(--clr-dark-600);
  }
}
