.btn {
  position: relative;
  text-transform: capitalize;
  padding: 0.5em 1em;
  color: inherit;
  background-color: transparent;
  outline-offset: -4px;
  border-radius: 6px;
  border: none;

  &.no-btn {
    display: block;
    width: min-content;
    aspect-ratio: 1;
    padding: 0;
  }

  &:focus-visible {
    outline: 2px solid var(--clr-text);
  }

  &:active {
    opacity: 0.9 !important;
  }

  &:disabled {
    opacity: 0.7 !important;
  }

  &.btn--primary {
    color: var(--clr-light-600);
    background-color: var(--clr-primary);
    outline-color: var(--clr-light-600);
  }

  &.btn--danger {
    color: var(--clr-light-600);
    background-color: var(--clr-danger);
    outline-color: var(--clr-light-600);
  }

  &.btn-link {
    display: inline-block;
    text-decoration: underline;
    padding: 0;
    border-radius: 0;
    outline-offset: 0;
    opacity: 1;

    &:has(.loader) {
      margin-right: 1.5em;
    }

    &:disabled {
      opacity: 0.5 !important;
    }

    &.btn--primary {
      color: var(--clr-primary);
      background-color: transparent;

      &:focus-visible {
        outline: 1px dotted;
      }
    }

    .loader {
      right: -1.5em;
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
  }

  @media (hover: hover) {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}
