@use "../utilities/mixin" as mixin;

.drop-down {
  summary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1rem;
    margin-block: 0.4rem;
    background: var(--hover);

    .heading {
      text-transform: capitalize;
      font-size: 1.14rem;
    }

    .count {
      @include mixin.countBadge;
    }

    svg {
      margin-left: auto;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &[open] {
    summary {
      background: transparent;

      svg {
        rotate: 180deg;
      }
    }
  }
}
