.menu {
  position: relative;

  .btn-menu {
    display: grid;
    place-content: center;
    font-size: 1.4rem;
    padding: 0.15em 0;
    color: var(--clr-text);
    border-radius: 4px;
    outline-offset: 0;

    &:focus-visible {
      background-color: var(--clr-gray);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--clr-gray);
      }
    }
  }

  .options {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    box-shadow: 0 0 2px 0 rgb(148, 148, 148);
    transform: scaleY(0);
    transform-origin: top;
    animation: open 100ms forwards ease-in;
    border-radius: 6px;
    overflow: hidden;
    z-index: 2;

    .option {
      font-size: 1rem;

      button {
        font-size: inherit;
        text-align: start;
        text-transform: capitalize;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        height: 100%;
        max-width: 180px;
        padding: 0.7rem 1.2rem;
        padding-right: 3rem;
        overflow: hidden;
        outline: none;

        &.danger {
          color: red;

          [dark] & {
            color: var(--clr-danger);
          }
        }

        &:is(:hover, :focus-visible) {
          background-color: var(--hover);
        }
      }
    }

    button {
      background-color: transparent;
      border: none;
    }
  }
}

@keyframes open {
  to {
    transform: scaleY(1);
    padding: 6px 0;
  }
}
