@use "../utilities/mixin" as mixin;

.navigation {
  @media (max-width: 474px) {
    --icon-size: 35px;

    display: flex;
    width: 100%;
    height: 55px;
    background-color: var(--bg);
    border-top: 1px solid var(--border);
    overflow: hidden;

    a {
      @include mixin.nav-link;
    }
  }
}
