.otp-input {
  width: 100%;

  text-align: center;
  margin-block: 1.5rem 1.2rem;

  .inputs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;

    input {
      text-align: center;
      width: 2em;
      aspect-ratio: 1;
      padding: 0.5rem;
      border: none;
      color: var(--clr-primary);
      background-color: var(--bg-secondary);
      border-radius: 4px;
      outline-color: var(--clr-primary);

      &:has(:focus) {
        outline: 2px solid;
      }

      &.invalid {
        outline: 2px solid var(--clr-danger);
      }
    }
  }

  p {
    font-size: 0.8em;
    margin-top: 1rem;
  }

  .timer {
    font-size: 0.9em;
  }
}
