.profile-img {
  position: relative;

  .image-container {
    flex-shrink: 0;
    width: 45px;
    aspect-ratio: 1;
    background-color: var(--clr-gray);
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .no-image {
      display: grid;
      place-content: center;
      font-family: var(--ff-roboto);
      font-size: 1.45em;
      text-transform: capitalize;
      width: 100%;
      height: 100%;
      color: var(--clr-light-600);
      background-color: var(--clr-primary);
      overflow: hidden;
    }
  }

  .online-dot {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 12px;
    aspect-ratio: 1;
    background-color: var(--clr-green);
    border-radius: 100px;

    [color="green"] & {
      filter: brightness(1.2);
    }
  }
}
