.profile-img {
  position: relative;

  .image-container {
    flex-shrink: 0;
    width: 45px;
    aspect-ratio: 1;
    background-color: var(--clr-gray);
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .no-image {
      display: grid;
      place-content: center;
      font-family: var(--ff-roboto);
      font-size: 1.45em;
      text-transform: capitalize;
      width: 100%;
      height: 100%;
      color: var(--clr-light-600);
      background-color: var(--clr-primary);
      overflow: hidden;
    }
  }

  .online-dot {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 12px;
    aspect-ratio: 1;
    background-color: var(--clr-green);
    border-radius: 100px;

    [color="green"] & {
      filter: brightness(1.2);
    }
  }
}

.profile-image-uploader {
  position: relative;
  width: min-content;
  margin-inline: auto;

  .image-container {
    width: 130px;
    margin: 1.5rem auto 2.8rem;

    .no-image {
      font-size: 4rem;
      color: var(--clr-gray);
      background-color: var(--clr-text);
    }
  }

  input#profile-image {
    display: none;
  }

  .edit-btn {
    position: absolute;
    right: calc(50% - 1.8rem);
    bottom: -0.5rem;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    aspect-ratio: 1;
    padding: 0.5em;
    border: 0;
    color: var(--clr-light-600);
    background-color: var(--clr-primary);
    transform: translateX(100%);
    border-radius: 100%;

    &:disabled {
      opacity: 0.8;
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader__bar {
      --loading-size: 1.8rem;
      --loading-width: 0.28em;
    }
  }

  &:has(.loader) {
    .image-container {
      position: relative;

      &::after {
        position: absolute;
        inset: 0;
        content: "";
        background-color: rgba(238, 238, 238, 0.4);

        [dark] & {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
