.read-receipt {
  button {
    display: grid;
    padding: 0;
    outline-offset: 0;
  }

  .delivered {
    color: rgb(36, 113, 228);
  }

  .seen {
    color: var(--clr-primary);
  }

  .failed {
    color: rgb(206, 24, 24);

    &.resend {
      cursor: pointer;
    }
  }
}
